<h1 id="page_title">Stuff I've Written</h1>

<div id="projects">
	<% @articles.each do |article| %>
		<div class="project">
			<p class="date"><%= article.created_at.strftime('%A, %B %d') %></p>
			<div class="project_image">
				<% if article.cover.present? %>
					<%= link_to (image_tag article.cover.url(:thumb)), article %>
				<% end %>
			</div>
			<div class="project_content">
				<h2><a href="#"><%= link_to article.title, article %></a> &nbsp; &nbsp;<i class="fa fa-eye" aria-hidden="true"></i> <%= article.impressionist_count(:filter=>:ip_address)%></h2>
			</div>
		</div>
	<% end %>
</div>

<%= will_paginate @articles %>
