<!DOCTYPE html>
<html>
<head>
	<title>Jampana Varma | Developer, Designer and Film Editor</title>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="css/application.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif alert %>
		<p class="alert"><%= alert %></p>
	<% end %>

	<% unless current_page?(root_path) %>
		<%= render 'layouts/header' %>
	<% end %>

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&copy;2016 Santosh Varma</p>
		<nav>
			<a href="http://twitter.com/sunny_santosh" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="http://github.com/jvssvarma" target="_blank"><i class="fa fa-github"></i></a>
		</nav>
	</footer>
</body>
</html>
